html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  /* background-color: rgb(50, 50, 50); */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(42, 42, 42, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  filter: drop-shadow(1px 1px 10px);
}

header .menu {
  width: 2rem;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

header .menu path {
  fill: white;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(42, 42, 42, 0.99);
  height: 100vh;
  width: 100%;
  /* text-align: center; */
  align-items: center;
  /* Сделать width: 100%; */
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.open-nav {
  transform: translate(0%);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

nav ul a {
  color: white;
  display: block;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 14px;
}

nav ul a:hover {
  background: rgb(69, 69, 69);
}

nav .close {
  margin: 2rem;
  width: 40px;
}

nav .close path {
  fill: white;
}

.nav-2 {
  display: none;
}

.nav-3 {
  display: none;
}

.nav-4 {
  display: none;
}

.nav-5 {
  display: none;
}

.nav-6 {
  display: none;
}

.nav-7 {
  display: none;
}

.nav-8 {
  display: none;
}

.nav-9 {
  display: none;
}

.item {
  background-color: rgb(50, 50, 50);
  background-size: cover;
  color: white;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.item-text {
  text-align: center;
}

.item a {
  color: rgb(125, 179, 255);
  text-decoration: none;
}

.item h1 {
  font-size: 35px;
  margin: 5px;
}

.item h2 {
  font-size: 19px;
  font-weight: lighter;
  margin: 0;
}

p {
  margin: 20px;
}

.gallery img {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.item-1 {
  background-image: url(../images/picture-1.jpg);
}

.item-2 {
  /* background-image: url(../images/picture-2-7.jpg); */
  background-image: url(../images/picture-2-1.jpg);
}

.item-3 {
  background-image: url(../images/picture-3.jpg);
}

.item-4 {
  background-image: url(../images/picture-4.jpg);
  text-shadow: none;
}

.item-5 {
  background-image: url(../images/picture-5.jpg);
}

.item-5 h4 {
  color: rgb(0, 115, 255)
}

.item-6 {
  background-image: url(../images/picture-6.jpg);
}

/* Federation */

.item-federation {
  background-image: url(../images/picture-5.jpg);
}

.federation {
  display: block;
  text-align: center;
}

.enter, .docs {
  margin: auto;
  max-width: 1200px;
  text-align: center;
}

.enter p {
  max-width: 100%;
}

.docs p {
  max-width: 100%;
}

/* News */

.news-h1 {
  text-align: center;
  margin-top: 60px;
}

/* Club */

.item-club-1 {
  background-image: url(../images/picture-4.jpg);
  text-shadow: none;
}

.item-club-2 {
  background-image: url(../images/picture-club-2.jpg);
}

.item-club-3 {
  background-image: url(../images/picture-club-3.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.item-club-3 a {
  color: rgb(161, 207, 255);
}

.item-club-4 {
  background-image: url(../images/competitions-in-Kostroma-6.jpg);
}

/* Orienteering */

.item-orienteering-1 {
  background-image: url(../images/picture-club-2.jpg);
}

/* Camping */

.item-camping-1 {
  background-image: url(../images/picture-club-3.jpg);
}

.item-camping-2 {
  background-image: url(../images/picture-camping-2.jpg);
}

.item-camping-2 a {
  color: rgb(0, 118, 220);
}

.item-camping-3 {
  background-image: url(../images/Camping-summer-river-Aug-2023-5.jpg);
}

.item-camping-4 {
  background-image: url(../images/picture-camping-6.jpg);
}

.item-camping-5 {
  background-image: url(../images/picture-camping-7.jpg);
}

.item-camping-6 {
  background-image: url(../images/picture-camping-4.jpeg);
}

.item-camping-7 {
  background-image: url(../images/picture-traveling-26.jpg);
}

.item-camping-8 {
  background-image: url(../images/picture-traveling-31.jpg);
}

.item-camping-9 {
  background-image: url(../images/picture-camping-8.jpg);
}

/* Winter Jan 2025 */

.item-camping-winter-Jan-2025 {
  background-image: url(../images/picture-camping-8.jpg);
}


/* Winter Jan 2024 */

.item-camping-winter-Jan-2024 {
  background-image: url(../images/picture-camping-2.jpg);
}

/* Summer river August 2023 */

.item-camping-summer-river-Aug-2023 {
  background-image: url(../images/Camping-summer-river-Aug-2023-5.jpg);
}

/* Winter Jan 2023 */

.item-camping-winter-Jan-2023 {
  background-image: url(../images/picture-camping-6.jpg);
}

/* Winter Dec 2022 */

.item-camping-winter-Dec-2022 {
  background-image: url(../images/picture-camping-7.jpg);
}

/* Summer July 2022 */

.item-camping-summer-July-2022 {
  background-image: url(../images/picture-camping-4.jpeg);
}

/* Competitions in Kostroma */

.item-competitions-in-Kostroma-1 {
  background-image: url(../images/competitions-in-Kostroma-6.jpg);
}

.item-competitions-in-Kostroma-2 {
  background-image: url(../images/picture-competitions-in-Kostroma-1.jpg);
}

.item-competitions-in-Kostroma-3 {
  background-image: url(../images/picture-competitions-in-Kostroma-2.jpg);
}

.item-competitions-in-Kostroma-4 {
  background-image: url(../images/picture-competitions-in-Kostroma-3.jpg);
}

.item-competitions-in-Kostroma-5 {
  background-image: url(../images/picture-competitions-in-Kostroma-4.jpg);
}

/* Traveling */

.item-traveling-1 {
  /* background-image: url(../images/picture-2.jpg); */
  background-image: url(../images/picture-traveling-1.jpg);
}

.item-traveling-2 {
  background-image: url(../images/picture-traveling-2.jpg);
}

.item-traveling-3 {
  background-image: url(../images/picture-traveling-3.jpg);
}

.item-traveling-4 {
  background-image: url(../images/picture-traveling-4.jpg);
}

.item-traveling-4 h4 {
  color: rgb(0, 101, 208);
}

.item-traveling-5 {
  background-image: url(../images/picture-traveling-6.jpg);
}

.item-traveling-6 {
  background-image: url(../images/picture-traveling-7.jpg);
}

.item-traveling-6 h4 {
  color: rgb(134, 221, 255);
}

.item-traveling-7 {
  background-image: url(../images/picture-traveling-8.jpg);
}

.item-traveling-8 {
  background-image: url(../images/picture-traveling-9.jpg);
}

.item-traveling-9 {
  background-image: url(../images/picture-traveling-10.jpg);
}

.item-traveling-10 {
  background-image: url(../images/picture-traveling-11.jpg);
}

.item-traveling-11 {
  background-image: url(../images/picture-traveling-12.jpg);
}

.item-traveling-12 {
  background-image: url(../images/picture-traveling-13.jpg);
}

.item-traveling-13 {
  background-image: url(../images/picture-traveling-14.jpg);
}

.item-traveling-13 h4 {
  color: rgb(134, 221, 255);
}

.item-traveling-14 {
  background-image: url(../images/picture-traveling-17.jpg);
}

.item-traveling-15 {
  background-image: url(../images/picture-traveling-19.jpg);
}

.item-traveling-16 {
  background-image: url(../images/picture-traveling-22.jpg);
}

.item-traveling-16 h4 {
  color: rgb(134, 221, 255);
}

.item-traveling-17 {
  background-image: url(../images/picture-traveling-21.jpg);
}

.item-traveling-17 h4 {
  color: rgb(134, 221, 255);
}

.item-traveling-18 {
  background-image: url(../images/picture-traveling-23.jpg);
}

.item-traveling-19 {
  background-image: url(../images/picture-traveling-25.jpg);
}

.item-traveling-20 {
  background-image: url(../images/picture-traveling-30.jpg);
}

.item-traveling-21 {
  background-image: url(../images/picture-traveling-29.jpg);
}

.item-traveling-22 {
  background-image: url(../images/picture-traveling-32.jpg);
}

.item-traveling-23 {
  background-image: url(../images/picture-traveling-33.jpg);
}

.item-traveling-24 {
  background-image: url(../images/picture-traveling-20.jpg);
}

.item-traveling-25 {
  background-image: url(../images/picture-traveling-34.jpg);
}

.item-traveling-26 {
  background-image: url(../images/picture-traveling-35.jpg);
}

.item-traveling-27 {
  background-image: url(../images/picture-traveling-36.jpg);
}

.item-traveling-28 {
  background-image: url(../images/picture-traveling-37.jpg);
}

.item-traveling-29 {
  background-image: url(../images/picture-traveling-38.jpg);
}

.item-traveling-30 {
  background-image: url(../images/picture-traveling-39.jpg);
}

.p-traveling {
  margin: 20px auto;
  padding: 20px;
}

p {
  max-width: 800px;
  text-align: center;
}

.h4-traveling {
  margin: 10px 30px;
  font-weight: bolder;
  padding-top: 10px;
}

/* Element */

.element {
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  max-width: 1000px;
}


/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1100px;
  margin: 20px auto;
}

.gallery-2 {
  display: none;
}

.gallery-3 {
  display: none;
}

@media only screen and (min-width: 600px) {

  .gallery-1 {
    display: none;
  }

  .gallery-2 {
    display: grid;
  }

}

@media only screen and (min-width: 900px) {

  .gallery-2 {
    display: none;
  }

  .gallery-3 {
    display: grid;
  }
  
}

/* Slet orientirovshikov 2025 */

.item-traveling-slet-orient-2025-1 {
  background-image: url(../images/picture-traveling-39.jpg);
}

/* Grand Prix 2025 */

.item-traveling-GP-2025-1 {
  background-image: url(../images/picture-traveling-38.jpg);
}

/* Moscow Kompas 2025 */

.item-traveling-Moscow-kompas-2025-1 {
  background-image: url(../images/picture-traveling-37.jpg);
}

/* Championship of Yaroslavl April 2025 */

.item-traveling-championship-of-Yaroslavl-2025-1 {
  background-image: url(../images/picture-traveling-36.jpg);
}

/* Black Sea 2025 */
.item-traveling-Gelendjik-2025-1 {
  background-image: url(../images/picture-traveling-35.jpg);
}

/* New year Moscow */

.item-traveling-new-year-Moscow-1 {
  background-image: url(../images/picture-traveling-34.jpg);
}

/* Pokrovskaya snejinka */

.item-traveling-Pokrovskaya-snezhinka-2024-1 {
  background-image: url(../images/picture-traveling-20.jpg);
}

/* VSR 2024 */

.item-traveling-VSR-2024-1 {
  background-image: url(../images/picture-traveling-33.jpg);
}

/* Championship of Yaroslavl Sept 2024 */

.item-traveling-championship-of-Yaroslavl-Sept-2024 {
  background-image: url(../images/picture-traveling-32.jpg);
}

/* Camping summer river 2024 */

.item-camping-summer-river-Aug-2024 {
  background-image: url(../images/picture-traveling-31.jpg);
}

/* Makushka Leta 2024 */

.item-traveling-makushka-leta-2024-1 {
  background-image: url(../images/picture-traveling-29.jpg);
}

/* SportFest Sofcombank 2024 */

.item-traveling-SportFest-Sofcombank-2024 {
  background-image: url(../images/picture-traveling-30.jpg);
}

/* Camping summer June 2024 */

.item-camping-summer-June-2024 {
  background-image: url(../images/picture-traveling-26.jpg);
}


/* Championship of Yaroslavl 2024 */

.item-traveling-championship-of-Yaroslavl-2024-1 {
  background-image: url(../images/picture-traveling-25.jpg);
}

/* Gelendjik 2024 */

.item-traveling-Gelendjik-2024-1 {
  background-image: url(../images/picture-traveling-23.jpg);
}

/* Winter championship of Yaroslavl 2024 */

.item-traveling-winter-championship-of-Yaroslavl-2024-1 {
  background-image: url(../images/picture-traveling-21.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.p-traveling-winter-championship-of-Yaroslavl-2024-1 {
  text-align: center;
  margin: 20px auto;
}

/* VSR 2023 */

.item-traveling-VSR-2023-1 {
  background-image: url(../images/picture-traveling-2.jpg);
}

.p-traveling-VSR-2023-2 {
  text-align: center;
}

.p-traveling-VSR-2023-3 {
  text-align: center;
}

/* Makushka Leta 2023 */

.item-traveling-makushka-leta-2023-1 {
  background-image: url(../images/picture-traveling-3.jpg);
}

/* School of Safety 2023 */

.item-traveling-school-of-safety-2023-1 {
  background-image: url(../images/picture-traveling-4.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.h4-traveling-school-of-safety-2023 {
  font-weight: bolder;
  margin-left: 30px;
  font-size: 18px;
  padding-top: 10px;
}

/* Slet orintirovshikov 2023 */

.item-traveling-slet-orintirovshikov-2023-1 {
  background-image: url(../images/picture-traveling-6.jpg);
}

/* Moscow kompas 2023 */

.item-traveling-Moscow-kompas-2023-1 {
  background-image: url(../images/picture-traveling-7.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.p-traveling-Moscow-kompas-2023-2 {
  text-align: center;
}

/* Championship of Yaroslavl 2023 */

.item-traveling-championship-of-Yaroslavl-2023-1 {
  background-image: url(../images/picture-traveling-13.jpg);
}

.p-traveling-championship-of-Yaroslavl-2023-2 {
  text-align: center;
}

/* Winter championship of Yaroslavl 2023 */

.item-traveling-winter-championship-of-Yaroslavl-2023-1 {
  background-image: url(../images/picture-traveling-22.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.p-traveling-winter-championship-of-Yaroslavl-2023-1 {
  text-align: center;
}

/* New Year Moscow 2022 */

.item-traveling-new-year-Moscow-2022-1 {
  background-image: url(../images/picture-traveling-8.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

/* Luzhniki 2022 */

.item-traveling-luzhniki-2022-1 {
  background-image: url(../images/picture-traveling-19.jpg);
}

.p-traveling-luzhniki-2022-1 {
  text-align: center;
}

/* VSR 2022 */

.item-traveling-VSR-2022-1 {
  background-image: url(../images/picture-traveling-9.jpg);
}

.p-traveling-VSR-2022-1 {
  text-align: center;
}

/* Kotorosl 2022 */

.item-traveling-Yaroslavl-Kotorosl-1 {
  background-image: url(../images/picture-traveling-17.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

/* Makushka Leta 2022 */

.item-traveling-makushka-leta-2022-1 {
  background-image: url(../images/picture-traveling-10.jpg);
}

/* School of Safety 2022 */

.item-traveling-school-of-safety-2022-1 {
  background-image: url(../images/picture-traveling-11.jpg);
}

/* Championship of Yaroslavl 2022 */

.item-traveling-championship-of-Yaroslavl-2022-1 {
  background-image: url(../images/picture-traveling-12.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.p-traveling-championship-of-Yaroslavl-2022-2 {
  text-align: center;
}

/* Belkino 2022 */

.item-traveling-Belkino-2022-1 {
  background-image: url(../images/picture-traveling-14.jpg);
}

.p-traveling-Belkino-2022-1 {
  text-align: center;
}

/* Contacts */

.contacts-h2 {
  text-align: center;
  margin-top: 50px;
}

.contacts-h4 {
  text-align: center;
  margin-top: -10px;
}

/* Footer */

footer {
  background-color: rgb(236, 236, 236);
  padding: 15px;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  /* margin-bottom: 200px;  */
  /* Убрать margin */
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

footer a {
  text-decoration: none;
}

footer h4 {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 20px;
}

footer h5 {
  text-decoration: none;
  color: rgb(105, 105, 105);
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 20px;
}

footer p {
  color: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
  margin: auto;
}

hr {
  border: none;
  border-top: 1px solid rgb(104, 104, 104);
  border-radius: 4px;
}

.footer-2 {
  display: none;
}

.footer-3 {
  display: none;
}

.footer-4 {
  display: none;
}

.footer-5 {
  display: none;
}

.footer-6 {
  display: none;
}

@media only screen and (min-width: 400px) {}

@media only screen and (min-width: 500px) {

  .nav-2 {
    display: block;
  }

  .nav-3 {
    display: block;
  }

  .item h1 {
    font-size: 40px;
  }

  .item h2 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 600px) {

  nav {
    width: 50%;
  }

  .nav-4 {
    display: block;
  }

  .footer-2 {
    display: block;
  }
}

@media only screen and (min-width: 750px) {

  .nav-5 {
    display: block;
  }
}

@media only screen and (min-width: 850px) {

  .footer-3 {
    display: block;
  }

  nav ul {
    margin-top: 40px;
  }

  nav ul a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 900px) {

  .nav-6 {
    display: block;
  }

  .item h1 {
    font-size: 50px;
  }

  .item h2 {
    font-size: 30px;
  }

  .item h4 {
    font-size: 22px;
  }
}

@media only screen and (min-width:1050px) {

  .footer-4 {
    display: block;
  }

  nav {
    width: 40%;
  }

  .element {
    margin: auto;
  }
}

@media only screen and (min-width: 1100px) {

  .nav-7 {
    display: block;
  }
}

@media only screen and (min-width:1200px) {
  nav {
    width: 30%;
  }
}

@media only screen and (min-width:1300px) {

  .nav-8 {
    display: block;
  }
}

@media only screen and (min-width:1435px) {

  .nav-9 {
    display: block;
  }
}

@media only screen and (min-width:1800px) {
  nav {
    width: 1800px;
    /* ??? */
  }

  body {
    width: 1800px;
  }
}