html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* background-color: rgb(50, 50, 50); */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(42, 42, 42, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  filter: drop-shadow(1px 1px 10px);
}

header .menu {
  width: 2rem;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

header .menu path {
  fill: white;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(42, 42, 42, 0.99);
  height: 100vh;
  width: 100%;
  /* text-align: center; */
  align-items: center;
  /* Сделать width: 100%; */
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.open-nav {
  transform: translate(0%);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

nav ul a {
  color: white;
  display: block;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 14px;
}

nav ul a:hover {
  background: rgb(69, 69, 69);
}

nav .close {
  margin: 2rem;
  width: 40px;
}

nav .close path {
  fill: white;
}

.nav-2 {
  display: none;
}

.nav-3 {
  display: none;
}

.nav-4 {
  display: none;
}

.nav-5 {
  display: none;
}

.nav-6 {
  display: none;
}

.nav-7 {
  display: none;
}

.nav-8 {
  display: none;
}

.nav-9 {
  display: none;
}

.item {
  background-color: rgb(50, 50, 50);
  background-size: cover;
  color: white;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  /* text-shadow: 2px 5px 10px black; */
}

.item-1 {
  background-image: url(../images/picture-1.jpg);
  /* Как разместить изображение посередине? */
  /* Изменить формат на jpg */
}

.item-2 {
  background-image: url(../images/picture-2.jpg);
}

.item-3 {
  background-image: url(../images/picture-3.jpg);
}

.item-4 {
  background-image: url(../images/picture-4.jpg);
  text-shadow: none;
}

.item-club-1 {
  background-image: url(../images/picture-4.jpg);
  text-shadow: none;
}

.item-club-2 {
  background-image: url(../images/picture-club-2.jpg);
  /* text-shadow: 1px 1px 10px black; */
}

.item-club-3 {
  background-image: url(../images/picture-club-3.jpg);
  text-shadow: 1px 1px 10px black;
}

.item-club-4 {
  background-image: url(../images/picture-3.jpg);
}

.item-competitions-in-Kostroma-1 {
  background-image: url(../images/picture-3.jpg);
}

.item-competitions-in-Kostroma-2 {
  background-image: url(../images/picture-competitions-in-Kostroma-1.jpg);
}

.item-competitions-in-Kostroma-3 {
  background-image: url(../images/picture-competitions-in-Kostroma-2.jpg);
}

.item-competitions-in-Kostroma-4 {
  background-image: url(../images/picture-competitions-in-Kostroma-3.jpg);
}

.item-competitions-in-Kostroma-5 {
  background-image: url(../images/picture-competitions-in-Kostroma-4.jpg);
}

.item-traveling-1 {
  background-image: url(../images/picture-traveling-1.jpg);
}

.item-traveling-2 {
  background-image: url(../images/picture-traveling-2.jpg);
}

.item-traveling-3 {
  background-image: url(../images/picture-traveling-3.jpg);
}

.item-traveling-4 {
  background-image: url(../images/picture-traveling-4.jpg);
}

.item-traveling-4 h4 {
  color: rgb(0, 101, 208);
}

.item-traveling-5 {
  background-image: url(../images/picture-traveling-6.jpg);
}

.item-traveling-6 {
  text-shadow: 1px 1px 10px black;
  background-image: url(../images/picture-traveling-7.jpg);
}

.item-traveling-6 h4 {
  color: rgb(134, 221, 255);
}

.item-traveling-7 {
  background-image: url(../images/picture-traveling-8.jpg);
}

.item-traveling-8 {
  background-image: url(../images/picture-traveling-9.jpg);
}

.item-traveling-9 {
  background-image: url(../images/picture-traveling-10.jpg);
}

.item-traveling-10 {
  background-image: url(../images/picture-traveling-11.jpg);
}

/* School of Safety 2023 */

.item-traveling-school-of-safety-2023-1 {
  background-image: url(../images/picture-traveling-4.jpg);
  text-shadow: 1px 1px 10px black;
}

.h4-traveling-school-of-safety-2023 {
  font-weight: bolder;
  /* text-align: center; */
  margin-left: 30px;
  font-size: 18px;
  padding-top: 10px;
}

.gallery-traveling-school-of-safety-2023-1 img {
  width: 33%;
  /*  */
}

.element-traveling {
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Slet orintirovshikov 2023 */

.item-traveling-slet-orintirovshikov-2023-1 {
  background-image: url(../images/picture-traveling-6.jpg);
}

/* Moscow kompas 2023 */

.item-traveling-Moscow-kompas-2023-1 {
  background-image: url(../images/picture-traveling-7.jpg);
  text-shadow: 1px 1px 10px black;
}

.p-traveling-Moscow-kompas-2023-2 {
  text-align: center;
}

/* VSR 2022 */

.item-traveling-VSR-2022-1 {
  background-image: url(../images/picture-traveling-9.jpg);
}

/* Makushka Leta 2022 */

.item-traveling-makushka-leta-2022-1 {
  background-image: url(../images/picture-traveling-10.jpg);
}

/* School of Safety 2022 */

.item-traveling-school-of-safety-2022-1 {
  background-image: url(../images/picture-traveling-11.jpg);
}

.p-traveling-VSR-2022-1 {
  text-align: center;
}

.item-text {
  text-align: center;
}

.item a {
  color: rgb(125, 179, 255);
  text-decoration: none;
}

.item h1 {
  font-size: 35px;
  margin: 5px;
}

.item h2 {
  font-size: 19px;
  font-weight: lighter;
  margin: 0;
}

p {
  /* background-color: white; */
  margin: 20px;
}

.gallery img {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Footer */

footer {
  background-color: rgb(236, 236, 236);
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  /* margin-bottom: 200px;  */
  /* Убрать margin */
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

footer a {
  text-decoration: none;
}

footer h4 {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 20px;
}

footer h5 {
  text-decoration: none;
  color: rgb(105, 105, 105);
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 20px;
}

footer p {
  color: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
}

hr {
  border: none;
  border-top: 1px solid rgb(104, 104, 104);
  border-radius: 4px;
}

.footer-2 {
  display: block;
}

.footer-3 {
  display: none;
}

.footer-4 {
  display: none;
}

.footer-5 {
  display: none;
}

.footer-6 {
  display: none;
}

@media only screen and (min-width: 400px) {}

@media only screen and (min-width: 500px) {

  .nav-2 {
    display: block;
  }

  .nav-3 {
    display: block;
  }

  .item h1 {
    font-size: 40px;
  }

  .item h2 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 600px) {

  nav {
    width: 50%;
  }

  .nav-4 {
    display: block;
  }
}

@media only screen and (min-width: 750px) {

  .nav-5 {
    display: block;
  }
}

@media only screen and (min-width: 850px) {

  .footer-2 {
    display: none;
  }

  .footer-3 {
    display: block;
  }

  .footer-4 {
    display: block;
  }

  nav ul {
    margin-top: 40px;
  }

  nav ul a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 900px) {

  .nav-6 {
    display: block;
  }

  .item h1 {
    font-size: 50px;
  }

  .item h2 {
    font-size: 30px;
  }

  .item h4 {
    font-size: 22px;
  }
}

@media only screen and (min-width:1050px) {
  .footer-5 {
    display: block;
  }

  nav {
    width: 40%;
  }
}

@media only screen and (min-width: 1100px) {

  .nav-7 {
    display: block;
  }
}

@media only screen and (min-width:1200px) {
  nav {
    width: 30%;
  }
}

@media only screen and (min-width:1300px) {

  .nav-8 {
    display: block;
  }
}

@media only screen and (min-width:1435px) {
  .footer-6 {
    display: block;
  }

  .nav-9 {
    display: block;
  }
}

@media only screen and (min-width:1800px) {
  nav {
    width: 1800px;
    /* ??? */
  }

  body {
    width: 1800px;
  }
}